<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Bagages</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Liste des Bagages</h1>
        </div>
        <a href="/ajouterBagage" class="btn btn-success btn-add">
            Ajouter Bagage
        </a>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Poids</th>
            <th>Étiquette</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bagage : ${bagages}">
            <td th:text="${bagage.id}"></td>
            <td th:text="${bagage.poids}"></td>
            <td th:text="${bagage.etiquette}"></td>
            <td th:text="${bagage.description}"></td>
            <td>
                <a th:href="@{editBagage(id=${bagage.getId()})}" class="btn btn-primary btn-sm me-2"
                   th:text="Modifier"
                ></a>
                <a class="btn btn-danger"
                   th:href="@{deleteBagage(id=${bagage.getId()}, search=${keyword}, page= ${currentPage})}"
                   th:text="Delete"
                   onclick="return confirm('Are you sure you want to delete this laggage?')"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
