<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Billets</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Liste des Billets</h1>
        </div>
        <div class="col text-end">
            <a href="/ajouterBillet" class="btn btn-success btn-add">
                Ajouter Billet
            </a>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Numéro Siège</th>
            <th>Classe Siège</th>
            <th>Nom Passager</th>
            <th>Prénom Passager</th>
            <th>Numéro Passeport</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="billet : ${billets}">
            <td th:text="${billet.id}"></td>
            <td th:text="${billet.numeroSiege}"></td>
            <td th:text="${billet.classeSiege}"></td>
            <td th:text="${billet.nomPassager}"></td>
            <td th:text="${billet.prenomPassager}"></td>
            <td th:text="${billet.numeroPasseport}"></td>
            <td th:text="${billet.prix}"></td>
            <td>
                <a th:href="@{editBillet(id=${billet.getId()})}" class="btn btn-primary btn-sm me-2"
                   th:text="Modifier"
                ></a>

                <a class="btn btn-danger"
                   th:href="@{deleteBillet(id=${billet.getId()}, search=${keyword}, page= ${currentPage})}"
                   th:text="Delete"
                   onclick="return confirm('Are you sure ?')"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>