<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Liste des Réservations</h1>
        </div>
        <div class="col text-end">
            <a href="/ajouterReservation" class="btn btn-primary">Ajouter Réservation</a>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom du Passager</th>
            <th>Prénom du Passager</th>
            <th>Numéro de Passeport</th>
            <th>Date de Réservation</th>
            <th>Nombre de Places</th>
            <th>Statut</th>
            <th>Prix Total</th>
            <th>Type de Siège</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.nomPassager}"></td>
            <td th:text="${reservation.prenomPassager}"></td>
            <td th:text="${reservation.numeroPasseport}"></td>
            <td th:text="${reservation.dateReservation}"></td>
            <td th:text="${reservation.nombrePlaces}"></td>
            <td th:text="${reservation.statut}"></td>
            <td th:text="${reservation.prixTotal}"></td>
            <td th:text="${reservation.typeSiege}"></td>
            <td>
                <a th:href="@{editReservation(id=${reservation.getId()})}" class="btn btn-primary btn-sm me-2"
                   th:text="Modifier"
                ></a>
                <a class="btn btn-danger"
                   th:href="@{deleteReservation(id=${reservation.getId()}, search=${keyword}, page= ${currentPage})}"
                   th:text="Delete"
                   onclick="return confirm('Are you sure ?')"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
